.list-slot {
    font-size: larger;
    color: var(--main-white);
    margin: 0;
    margin-bottom: 1vh;
    font-family: "Roboto";
}

.content-section {
    min-height: 90vh;
    padding-bottom: 10vh;
}

#slot {
    display: grid;
    grid-template-columns: 13vw 13vw 13vw 13vw 13vw;
    row-gap: 10px;
    gap: 2vw;
}

.slot-item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: aqua;
    transition: background-color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.slot-item:hover {
    background-color: var(--main-black);
}

.slot-item:hover a p {
    color: var(--main-white);
}

.slot-item a {
    font-size: 12pt;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: var(--main-black);
}

.slot-item a {
    transition: color 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slot-item a p {
    margin: 0 0 1vh 0;
}

.slot-item a:hover {
    color: var(--main-grey);
}

.slot-item img {
    width: 13vw;
}

/* mobile */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    #slot {
        display: grid;
        grid-template-columns: auto auto;
        gap: 7vw;
    }

    .slot-item a {
        font-size: 2vw;
    }

    .slot-item img {
        width: 30vw;
    }
}
