.navbar {
    width: 90vw;
    display: flex;
    position: fixed;
    justify-content: space-between;
    left: 0;
    top: 0;
    margin: 0 5vw 0 5vw;
    z-index: 1;
}

.nav-body a {
    color: var(--main-white);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: relative;
}

.nav-body a:hover {
    color: aqua;
}

.nav-body a:hover::before {
    transform: scaleX(1);
}

.nav-body a::before {
    top: calc(50% + 10px);
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    content: "";
    width: 1.3vw;
    height: 1px;
    border-radius: 5px;
    background-color: aqua;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav-body h4 {
    font-size: 1.3vw;
}

.nav-body {
    display: flex;
    gap: 4vw;
}

.nav-logo img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    width: 20vw;
    height: auto;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .nav-body {
        margin-top: 2vh;
        flex-direction: column;
        gap: 10px;
    }

    .nav-body h4 {
        font-size: 2.3vw;
        margin: 1vw;
    }

    .nav-logo img {
        width: 40vw;
        height: auto;
    }
}
